@layer base {
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    background: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100dvw;
    min-height: 100dvh;
    overflow-x: hidden;
    font: var(--font-space_grotesk);
  }

  @variant dark {
    --color-bg: oklch(6.04% 0.03368 292.484);
    --color-gray: oklch(82.088% 0.00999 298.955);
    --color-main: oklch(69.329% 0.13888 291.439);
    --color-circle: oklch(85.038% 0.067 294.458);
    --color-title: oklch(85.038% 0.067 294.458);
    --color-text: oklch(97.315% 0.00011 271.152);
    --color-study: oklch(77.05% 0.17314 149.495);
    --color-work: oklch(65.98% 0.19317 19.511);
    --color-star: oklch(79.162% 0.15882 84.563);
  }

  /* Lógicas especiais */

  @media (pointer: fine) {
    *,
    *::before,
    *::after {
      cursor: none !important;
    }
  }
}
