@theme {
  --color-light-main: oklch(39.147% 0.20073 281.116);
  --color-light-title: oklch(12.789% 0.06032 286.919);
  --color-light-study: oklch(45.581% 0.12963 146.929);
  --color-light-work: oklch(42.362% 0.1608 24.766);
  --color-light-gray: oklch(54.182% 0.01241 291.635);
  --color-light-bg: oklch(97.315% 0.00011 271.152);

  --color-dark-main: oklch(69.329% 0.13888 291.439);
  --color-dark-title: oklch(85.038% 0.067 294.458);
  --color-dark-study: oklch(77.05% 0.17314 149.495);
  --color-dark-work: oklch(65.98% 0.19317 19.511);
  --color-dark-gray: oklch(82.088% 0.00999 298.955);
  --color-dark-bg: oklch(6.04% 0.03368 292.484);

  --color-star: oklch(79.162% 0.15882 84.563);

  --leading-heading: 1.2;
  --leading-body: 1.5;
}
